@media screen and (max-width: 500px) and (min-width: 400px){
	.editable button {
		padding: 5px 0;
	}
	.editable_group.line_of_2 button {
		padding: 5px 0;
	}
}

@media screen and (max-width: 400px){
	.editable_group {
		padding-bottom: 13px;
	}
	
	.editable {
		margin-left: 6px;
		margin-right: 6px;
	}

	.editable_group.editable_group_start input {
		height: 32px;
		width:85%;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	.editable_group.editable_group_setup input {
		width: 68.5%;
	}
	.editable_group input{
		height: 32px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.editable button.search{
		height: 34px;
		width: 15%;
	}

	.editable_group.editable_group_setup select {
		width: 100%;
		height:32px;
		box-sizing: border-box;
	}

	.editable button {
		width: 11.5%;
	}

	.editable_group.editable_group_setup button {
		float: right;
		width: 30%;
		margin-left: 1.5%;
	}

	.editable button {
		padding: 5px 5px;
		height: 32px;
	}

	.line_of_2 .editable {
		width: 100%;
		padding-left: 6px;
		padding-right: 6px;
	}
	.editable_group.line_of_2 select {
		width: 100%;
		height: 32px;
		box-sizing: border-box;
	}
	
	.editable_group h3 {
		font-size: 14px;
		height: 30px;
		line-height: 30px;
	}
	
	.editable_group.line_of_2 input {
		width: 68.5%;
	}

	.editable_group.line_of_2 button {
		width: 30%;
		margin-left: 1.5%;
	}
}
